/*
changes in theme "frontend"
to make since the class 
".it4r-frontend-theme" (a unique class that we added to our theme)
*/
body.it4r-frontend-theme #block-site-contacts-logo-header {
  width: 90px !important;
  padding-right: 0px !important;
  margin-bottom: 5px; }
body.it4r-frontend-theme #block-site-contacts-sitename {
  width: auto !important; }
  body.it4r-frontend-theme #block-site-contacts-sitename .content {
    margin-top: 0 !important;
    padding-left: 15px !important;
    padding-bottom: 10px !important; }
    body.it4r-frontend-theme #block-site-contacts-sitename .content a {
      font-size: 60px;
      line-height: 1em;
      text-decoration: none; }
body.it4r-frontend-theme #block-site-contacts-contacts-header {
  float: right !important; }
  body.it4r-frontend-theme #block-site-contacts-contacts-header .content {
    margin-top: 6px; }
body.it4r-frontend-theme #main-container-wrapper {
  background: url("/files/lufran/fon.png") repeat; }

.page-regions #main-container-wrapper #content-center .region-terms-list {
  background-color: white;
  padding: 10px 0; }
  .page-regions #main-container-wrapper #content-center .region-terms-list div {
    padding-left: 20px; }

.views-field-field-infomaterial-date,
.field-name-field-infomaterial-date {
  display: none; }

@media (min-width: 768px) and (max-width: 991px) {
  #branding-wrapper {
    margin-top: 158px !important; } }
@media (min-width: 992px) {
  #branding-wrapper {
    margin-top: 76px !important; } }
