/*
changes in theme "frontend"
to make since the class 
".it4r-frontend-theme" (a unique class that we added to our theme)
*/


body.it4r-frontend-theme{
    #block-site-contacts-logo-header{
        width: 90px !important;
        padding-right: 0px !important;
        margin-bottom: 5px;
    }
    #block-site-contacts-sitename{
        width: auto !important;
        .content{
            margin-top: 0 !important;
            padding-left: 15px !important;
            padding-bottom: 10px !important;
            a{
                font-size: 60px;
                line-height: 1em;
                text-decoration: none;
            }
        }
    }
    #block-site-contacts-contacts-header{
        float: right !important;
        .content{
            margin-top: 6px;
        }
    }
    #main-container-wrapper{
        background: url("/files/lufran/fon.png") repeat ;//!important;
    }
}

// страница регионов
.page-regions #main-container-wrapper #content-center .region-terms-list{
    background-color: white;
    padding: 10px 0;
    div{
        padding-left: 20px;
    }
}
//новости (скрываем дату)
.views-field-field-infomaterial-date,
.field-name-field-infomaterial-date{
    display: none;
}

#branding-wrapper{
    @media (min-width: 768px) and (max-width: 991px){
        margin-top: 158px !important;
    }
    @media (min-width: 992px){
        margin-top: 76px !important;
    }
}

